* {
    box-sizing: border-box;
}

@font-face {
    font-family: "GTLight";
    src: url("../fonts/GTLight.woff") format("woff");
}

@font-face {
    font-family: "GTBold";
    src: url("../fonts/GTBold.woff") format("woff");
}

html {
    font-family: "GTLight";
    font-size: 23px;
}

h1 {
    font-family: "GTBold";
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 215, 236);
    /* background-color: #e4648f; */
}

.wrapper {
    width: 100%;
    max-width: 1080px;
    min-width: 300px;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}


/* Header */

.webHead {
    height: 100vh;
}

.branding {
    display: none;
}

.hero {
    padding: 0 0 2rem 0;
    min-height: 21rem;
}

.hero h1 {
    font-size: 45px;
    line-height: 1.2em;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 19px;
}


/* Content */

.pageContent {
    flex: 1;
    background-color: rgba(102, 102, 102, 0.1);
    width: 100%;
    font-size: 23px;
}


/* tabbed interface */

.tabs {
    position: relative;
    padding-top: 4rem;
    margin-top: 0;
}

.tab {
    width: 100%;
}

.tab label {
    padding: 0 1em;
    position: absolute;
    left: 0;
    width: calc(50% - 0.5rem);
    line-height: 3em;
    top: 0;
    cursor: pointer;
    transition: 0.3s;
    border: 4px solid #222;
    color: #222;
    line-height: 2.5rem;
}

.tab label:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.tab label:before:hover {
    background-color: #666;
}

.tab label.resumeTab {
    left: calc(50% + 0.5rem);
}

.tab [type=radio] {
    display: none;
}

.tabContent {
    display: none;
    width: 100%;
}

[type=radio]:checked~label {
    background: #222222;
    color: #fff;
}

[type=radio]:checked~label:before {
    content: "";
    display: block;
    border-bottom: 5px solid #333;
    position: absolute;
    bottom: 0;
    z-index: 100;
    height: 5px;
    width: 100%;
    left: 0;
}

[type=radio]:checked~label~.tabContent {
    display: block;
}


/* tiled navigation */

.projectChooser {
    padding-top: 1.5rem;
}

.tile {
    display: flex;
    background-color: rgba(34, 34, 34, 0.15);
    padding: 0;
    margin-bottom: 1.5rem;
    flex-direction: column;
}

.tile h3,
.tile .details h3,
.tile .details h4 {
    margin: 0;
    font-size: 16px;
    text-align: left;
}

.details {
    flex: 0.5;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.75em 1em;
}

.details hr {
    margin: 0.5em 0;
}

.tile header {
    min-height: 8em;
    flex: 1;
}

.tile header h3 {
    font-size: 23px;
    /* font-family: "GTBold"; */
    text-align: center;
    line-height: 3em;
}


/* Resume Page */

#resumePage {
    text-align: left;
    margin-top: -0.5rem;
}

#resumePage>header,
.resumeLowlevel {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    padding: 1.5rem 0 1rem;
    margin-top: 2rem;
    /* border-color: #a1a1a1; */
    /* border-top: 10px solid #a1a1a1; */
}

.resumePage>header {
    background-color: #eee;
}

#resumePage header h2:first-child {
    /* border-bottom: 1px solid #eee; */
    font-size: 0;
}

header {}

#resumePage>header h2 {
    font-size: 1.25rem;
    padding: 0 2rem;
    margin: 0;
}

#resumePage>header>h3 {
    margin: 0 0 1.5rem;
    padding: 0 2rem;
    font-size: 1rem;
}

#resumePage>header>h3+h3 {
    border-bottom: 1px solid #ddd;
    margin: 0 0 1rem;
    padding: 0;
    font-size: 0;
}

#resumePage>header li {
    font-size: 18px;
    margin: 0 2rem 0.5em 1.25em;
}

.resumeLowlevel {
    padding: 0 0 2rem;
    background: transparent;
}

.resumeLowlevel h3 {
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    padding: 0 2rem;
    background: rgba(51, 51, 51, 0.25);
    font-size: 18px;
}

.resumeLowlevel section {
    padding: 1rem 2rem 1.5rem;
    border-top: 1px solid #ccc;
    margin: 0 0 1rem;
    background: #fff;
}

.resumeLowlevel h4 {
    margin: 0 0 1rem;
}

.resumeLowlevel p {
    font-size: 18px;
    margin: 0 0 0.5rem;
    line-height: 1.5em;
}

.resumeLowlevel p strong {
    font-size: 18px;
    display: inline-block;
    width: 100%;
    font-family: 'GTBold';
    margin-top: 1rem;
}

.resumeLowlevel aside p {
    margin: 0 0 0.25rem;
    font-size: 16px;
}

.resumeLowlevel aside p strong {
    border-top: none;
    padding-top: 0;
    font-family: 'GTLight';
    font-size: 1rem;
    margin-top: 0;
}

.resumeLowlevel p span {
    font-family: 'GTBold';
}

.resumeLowlevel aside {
    padding: 1rem 1.5rem 0.75rem;
    border-left: 10px solid #E91E63;
    background-color: rgba(34, 34, 34, 0.1);
    margin-bottom: 1rem;
}

.resumeLowlevel aside+h4 {
    font-size: 0;
    margin: 0;
}


/* Footer */

.webFooter {
    color: white;
    background-color: rgba(51, 51, 51, 0.5);
}


/* Desktop Styles */

@media only screen and (min-width: 600px) {
    html {
        overflow-y: scroll;
    }
    body {
        /* background-color: inherit; */
    }
    .branding {
        display: block;
    }
    .branding>.wrapper {
        justify-content: space-between;
        font-family: "GTBold";
        font-size: 18px;
        flex-direction: row;
    }
    .hero {
        padding-bottom: 5.5rem;
    }
    .hero h1 {
        font-size: 69px;
    }
    .hero h2 {
        font-size: 23px;
    }
    /* tabbed nav */
    .tabs {
        top: -4rem;
    }
    .tab label {
        background: transparent;
    }
    [type=radio]:checked~label:before {
        content: none;
    }
    /* tiles */
    .tile {
        flex-direction: row;
    }
    .tile header {
        min-height: 12em;
    }
}